@import './variables';
@import './mixins';
@import 'node_modules/uswds/src/stylesheets/uswds.scss';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/** Sticky Footer **/

html{
    height: 100%;
}

body, app-root{
    display: flex;
    flex-direction: column;
    height: 100%;
}

header{
   flex: 0 0 auto;
}

.main-content {
   flex: 1 0 auto;
}

footer{
   flex: 0 0 auto;
}

/** Shared Styles **/

button[type="submit"] {
  display: inline-block;
}

.page-header{
  border-bottom: 1px solid $color-gray-lighter;
  margin-bottom: 1em !important;
}

.secondary-header {
  color: $color-gray;
  font-size: .5em;
  line-height: 3em;
}

/** TEMPORARY STYLES FOR MODAL - fix these **/

.mat-dialog-container {
  position: absolute;
  top: 10%;
  left: 25%;
  width: 50% !important; // This isn't good on mobile
  height: auto !important;
  background-color: white !important;

  h2 {
    margin-top: 0;
  }
} 
@media screen and (min-width: 600px) {

  .right-sidebar {
    border-left: solid 1px $color-gray-lighter;
    padding-left: 3em;
  }

  .secondary-header-right {
    float: right;
    margin-left: 2em;
  }

}

@media screen and (max-width: 600px) {

  .right-sidebar {
    border-top: solid 1px $color-gray-lighter;
  }

  .secondary-header {
    display: block;
    line-height: 1.7em;
  }

  .mat-dialog-container {
    position: absolute;
    top: 10% !important;
    left: 10% !important;
    width: 80% !important;
}

}

// Responsive tables global styling

// This prevents a Top Border above the table headers (Time, Conference & Reserved By)
.table-first-row {
  border-top: none !important;
}

// Sets attributes of responsive table at screen resolution higher than 850px wide

table {
  border-collapse: collapse;
  margin: 20px 0 40px 0;
  padding: 0;
  width: 100%;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: left;
  border: none;
}



@media screen and (max-width: 850px) {

  // Sets attributes of responsive table at screen resolution less than 850px wide

.table-conference-rooms {
  width: 100%;

  td {
    vertical-align: top;
  }

  th,td {
      white-space: nowrap;
  }
  .centerAlign {
    text-align: right;
  }
}

  table {
    border: 0 !important;
    margin: 20px 0 20px 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-top: 3px solid #2d2d2d;
    border-bottom: 3px solid #2d2d2d;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.9em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

  table td:last-child {
    border-bottom: 0;
  }
}


/** Angular Material Overrides **/

mat-datepicker-toggle .mat-icon-button {
    float: right !important;
    margin-top: -45px !important;
}

.mat-input-element, .mat-select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  border: 0.1rem solid #5b616b !important;
  border-radius: 0 !important;
  box-sizing: border-box !important;
  color: #212121 !important;
  display: block !important;
  font-size: 1.7rem !important;
  height: 4.4rem !important;
  line-height: 1.3 !important;
  margin: 0.2em 0 !important;
  max-width: none !important;
  padding: 1rem 0.7em !important;
  width: 100% !important;
}
